<body>
    <div class="header-nightsky">
        <app-navbar></app-navbar>
        <div class="hero">
            <h1>CampFire</h1>
            <p>CampF</p>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 description-content">
          <img class="rounded-picture"
          src="https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
          <h2>Find others with similar interests</h2>
          <p>Collaborate on new ideas/projects!</p>
        </div>
        <div class="col-lg-4 description-content">
          <img class="rounded-picture" src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
          <h2>Join the Community</h2>
          <p>Connect with other bootcamp grads!</p>
        </div>
        <div class="col-lg-4 description-content">
          <img class="rounded-picture"
          src="https://cdn.pixabay.com/photo/2018/02/14/10/28/business-3152586_1280.jpg" />
          <h2>Showcase your skills</h2>
          <p>Let companies find you and get hired!</p>
        </div>
      </div>
      <hr class="featurette-divider" />
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            <b>"A great experience</b>
          </h2>
          <p class="lead">
            campfire helped me find like-minded people who were interested in learning the same technologies that I wanted to learn. I gained not only technical expertise in the technology of my choice, but also a friend.
          </p>
          <br />
          <p>-Dean, <i>App Academy Graduate 2013</i></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" data-holder-rendered="true" />
        </div>
      </div>
      <hr class="featurette-divider" />
      <div class="row featurette">
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto"
          src="https://images.pexels.com/photos/712521/pexels-photo-712521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" data-holder-rendered="true" />
        </div>
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">
            <b>Helped me get references</b>
          </h2>
          <p class="lead">
            campfire allowed me to connect with previous bootcamp alumni that had gotten jobs in the company I was most interested in.
          </p>
          <br />
          <p>-Marie, <i>Hack Reactor Graduate 2016</i></p>
        </div>
      </div>
      <hr class="featurette-divider" />
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            <b>Got some great advice</b>
          </h2>
          <p class="lead">
            Through campfire, I was able to better prepare for job interviews and was in the loop for great opportunities and mentorships around my area!
          </p>
          <p>-Andrew, <i>Holberton School Graduate 2017</i></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto"
          src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" data-holder-rendered="true" />
        </div>
      </div>
      <hr class="featurette-divider" />
      <footer class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>
          © 2017-2018 campfire
          <a href="#">Privacy</a>
          <a href="#">Terms</a>
        </p>
      </footer>
    </div>


</body>


<!-- signupModal -->

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-signup></app-signup>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- signinModal -->

<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-signin></app-signin>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
