<body>
    <div class="header-nightsky">
        <app-navbar></app-navbar>
        <div class="hero">
            <h1>CampFire</h1>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <ul class="ch-grid">
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <h3>Collaborate on new projects!</h3>
                <p>Find others with similar interests</p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-2">
              <div class="ch-info">
                <h3>Join the Community</h3>
                <p>Connect with other bootcamp grads!</p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-3">
              <div class="ch-info">
                <h3>Showcase your skills</h3>
                <p>Let companies find you and get hired!</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <hr class="featurette-divider" />
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            <b>"A great experience</b>
          </h2>
          <p class="lead">
            campfire helped me find like-minded people who were interested in learning the same technologies that I wanted to learn. I gained not only technical expertise in the technology of my choice, but also a friend.
          </p>
          <br />
          <p>-Dean, <i>App Academy Graduate 2013</i></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" data-holder-rendered="true" />
        </div>
      </div>
      <hr class="featurette-divider" />
      <div class="row featurette">
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto"
          src="https://images.pexels.com/photos/712521/pexels-photo-712521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" data-holder-rendered="true" />
        </div>
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">
            <b>Helped me get references</b>
          </h2>
          <p class="lead">
            campfire allowed me to connect with previous bootcamp alumni that had gotten jobs in the company I was most interested in.
          </p>
          <br />
          <p>-Marie, <i>Hack Reactor Graduate 2016</i></p>
        </div>
      </div>
      <hr class="featurette-divider" />
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            <b>Got some great advice</b>
          </h2>
          <p class="lead">
            Through campfire, I was able to better prepare for job interviews and was in the loop for great opportunities and mentorships around my area!
          </p>
          <p>-Andrew, <i>Holberton School Graduate 2017</i></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto"
          src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" data-holder-rendered="true" />
        </div>
      </div>

    </div>
    <hr class="featurette-divider" />
    <footer class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>
        © 2017-2018 campfire
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
      </p>
    </footer>
</body>


<!-- signupModal -->

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-signup></app-signup>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- signinModal -->

<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-signin></app-signin>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
