.room-list-item {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 2px;
  min-height: 40px;
}

.room-list-title {
  flex-direction: column;
}

img {
  padding: 3px 0px 2px 20px;
  width: 45px;
  height: 30px;
  object-fit: cover;
}

h3 {
  padding-top: 10px;
  padding-left: 30px;
}

.room-list-item:hover {
  color: #0fa501;
}

@media screen and (max-width: 767px) {
  img {
    padding: 3px 0px 2px 10px;
  }
}
