.profile-page {
  background-color: #fafafa;
  min-height: 100vh;
}

.breadcrumb {
  background-color: inherit;
}

.profile-container {
  /* padding-top: 70px; */
}

.profile-banner {
  margin-top: 70px;
}

.profile-banner-image {
  /* background-image: url(https://res.cloudinary.com/dh5e4xxbr/image/upload/v1523473556/odgujdbfgx8xhrz2ppgg.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.profile-pic-container {
  width: 200px;
  margin-top: -120px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.profile-pic {
  border: solid white 5px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
}
.profile-banner-content-body {
  text-align: center;
  padding-bottom: 20px;
}
.user-names {
  font-size: 24px;
}
.tech-stack {
  width: 300px;
}
.stack-footer {
  display: flex;
  justify-content: space-between;
}
