<div class="profile-page">
  <app-navbar></app-navbar>
  <div class="profile-container container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item edit-modal-button"
        *ngIf="isOwnProfile"
        routerLinkActive="active"
        data-toggle="modal"
        data-target="#editProfileModal">
          <a>Edit Profile</a>
        </li>
      </ol>
    </nav>

    <div class="row">

      <div class="col-lg-9 col-md-8">
        <div class="panel panel-default">
          <div class="profile-banner-image" [style.background-image]="'url(' + profile.profileBackgroundImage + ')'"></div>
          <div class="profile-banner-content">
            <div class="profile-pic-container">
              <img
              class="profile-pic"
              src={{profile.imageUrl}}
              alt="profile-pic">
            </div>
          </div>
          <div class="profile-banner-content-body">
            <h1 class="user-names">{{profile.firstName}} {{profile.lastName}}</h1>
            <ul>
              <li>{{profile.location}}</li>
              <li>{{profile.bootcamp}}</li>
              <li>{{profile.graduation}}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Technical Stack</h3>
          </div>
          <div class="panel-body">
            {{profile.stack}}
          </div>
          <div class="panel-footer stack-footer">
            <span></span>
            <span>
              <a href="{{profile.githubLink}}"><i class="fa fa-github"></i></a>
              <a href="{{profile.linkedInLink}}"><i class="fa fa-linkedin"></i></a>
            </span>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Summary</h3>
          </div>
          <div class="panel-body">
            {{profile.userBio}}
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="project"></div>
      <div class="project"></div>
      <div class="project"></div>
      <div class="project"></div>
    </div>
  </div>
</div>


<!-- signupModal -->

<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <cf-edit-profile></cf-edit-profile>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
