.project-index-item-container {
  border-radius: 3px;
  display: flex;
  height: 70px;

  color: black;
  background-color: white;
  margin-bottom: 9px;
  box-shadow: 0px 1px 0px 1px #AAAAAA;
}

a:hover {
  text-decoration: none;
}

.project-index-item div:hover {
  background-color: #EBF1F5;
}

.project-preview-title {
  font-size: 20px;
}

.project-preview-image {
  margin-top: 8px;
  height: 50px;
  width: 50px;
  min-width: 50px;
  min-height: 50px;
}

.project-preview-stack-username-date {
  padding-right: 15px;
}

.project-preview-details {
  padding: 2px 0px 0px 15px;
  width: 100%;
  color: black;
  display: flex;
  justify-content: space-between;
}

.project-preview-short {
  padding: 5px 5px 5px 0;
  /* width: 600px; */
  overflow: scroll;
}
