<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="logo" src="http://s3-us-west-1.amazonaws.com/appstarter-chyna/flex/campfire.png" /></a>
        <div class="navbar-header">
          <form class="form-inline">
            <app-search></app-search>
          </form>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"
            aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active" *ngIf="!isLoggedIn()"><app-demo></app-demo></li>
                <li routerLinkActive="active" *ngIf="!isLoggedIn()" data-toggle="modal" data-target="#signupModal"><a>Signup</a></li>
                <li routerLinkActive="active" *ngIf="!isLoggedIn()" data-toggle="modal" data-target="#signinModal"><a>Signin</a></li>
                <li routerLinkActive="active" *ngIf="isLoggedIn()"><app-logout>Logout</app-logout></li>
            </ul>
        </div>
    </div>
</nav>
